@model List<Models.PLU_Puertas>
@{
    ViewBag.Title = "Puertas";
}



@if (Model != null && Model.Any())
{
    <div class="container text-center" style="margin-top:10px;">
        @foreach (var puerta in Model)
        {

            <button class="btn btn-primary button" id="abir" value="@puerta.IdPuerta">@puerta.NombrePuerta</button>
            <input type="text" hidden value="@puerta.Code" id="@puerta.IdPuerta"/>
        }
    </div>
}
else
{
    <p>No hay puertas disponibles.</p>
}

@section Scripts{

    <script>
        $(document).ready(function () {
            // Asigna un controlador de eventos al hacer clic en los botones
            $('.button').click(function () {

                var buttonNumber = $(this).val();
                var Code = $("#" + buttonNumber).val();
                 $.ajax({
                        url: '@Url.Action("AbrirPuerta", "Puerta")',
                        type: 'POST',
                        data: { IdPuerta: buttonNumber, Code: Code },
                            success: function (data) {


                                 if (data.response) {

                                   console.log("Puerta Abierta:" ,Code);

                                  } else {

                                   console.log("No se pudo cambiar");
                                  }
                            },
                            error: function () {
                              console.log("Error");
                            }

                     });

            });
        });

    </script>

}